<div class="photosContent">
    <h2>{{{title}}}</h2>
    <div class="photos">
        {{#each photos}}
        <div class="photo">
            <a href="/gfx/gallery/{{../title}}/{{.}}" data-lightbox="gallery">
                <img src="/gfx/gallery/{{../title}}/{{.}}" alt="">
            </a>
        </div>
        {{/each}}
    </div>
</div>